<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>提示信息</title>
</head>
<body>
#if($type=="success")
<h1 style="text-align: center">成功：$msg</h1>
#else
<h1 style="text-align: center">失败：$msg</h1>
#end
<br>
<p style="text-align: center">页面自动 <a id="href" href="$url">跳转</a> 等待时间： <b id="wait">$seconds</b></p>
<script type="text/javascript">
(function(){
var wait = document.getElementById('wait'),href = document.getElementById('href').href;
var interval = setInterval(function(){
	var time = --wait.innerHTML;
	if(time <= 0) {
		location.href = href;
		clearInterval(interval);
	};
}, 1000);
})();
</script>
</body>
</html>
