body {
	margin: 0px;
	padding: 0px;
	font-family: 'microsoft yahei';
	background: #f5f7f9;
}

#main_content {
	width: 100%;
}

.header {
	width: auto;
	height: 50px;
	background: #FFFFFF;
}

.logo {
	width: 161px;
	height: 50px;
	font-size: 20px;
	line-height: 50px;
	padding-left: 14px;
	color: #FFF;
	float:left;
	overflow:hidden;
	background: #333744;
}

.top_menu {
	width: 631px;
    height: 50px;
    font-size: 18px;
    line-height: 50px;
    text-align: left;
    color: #333333;
    float:left;
}

.top_menu a{
	width:95px;
	height:50px;
	display:block;
	padding-left:25px;
	padding-right:25px;
	color:#333333;
	text-decoration: none;
	text-align:center;
	border-right:1px solid #EEEEEE;
	float:left;
}

.header_right {
    height: 50px;
    font-size: 14px;
    line-height: 50px;
    text-align: right;
    color: #333333;
    padding-right: 14px;
    float: right;
}

.header_right a {
	color: #333333;
	text-decoration: none;
}

.zuo {
	width: 175px;
	height: auto;
	background: #333744;
	float: left;
	overflow: hidden;
}

.zuo_xiao {
	width: 50px;
	height: auto;
	background: #333744;
	float: left;
	overflow: hidden;
	display: none;
}

.you {
	width: 100%;
	height: auto;
	float: right;
	overflow: hidden;
}

.content {
	width: auto;
	height: auto;
}

.zuo_kuang_tou {
	width: 160px;
	height: auto;
	float: right;
	background: #069;
	padding-left:15px;
}

.zuo_kuang {
	width: 160px;
	height: auto;
	float: right;
}

.you_bottom {
	width: auto;
	height: 39px;
	line-height: 40px;
	border-top: #CCC 1px solid;
	overflow: hidden;
	font-size: 14px;
}

.zuo_ul {
	width: 160px;
	height: 33px;
	line-height: 33px;
	overflow: hidden;
	margin-top: 1px;
	margin-bottom: 1px;
	cursor: pointer;
}

.ul_guanbi {
	background: url(../images/bg-icon1.png) no-repeat;
}

.ul_dakai {
	background: url(../images/bg-icon2.png) no-repeat;
}

.zuo_tou {
	width: 140px;
	padding-left: 20px;
	height: 33px;
	color: #FFF;
	line-height: 33px;
	font-size: 15px;
	font-weight: bold;
	overflow: hidden;
	margin-top: 1px;
	margin-bottom: 1px;
}

.zuo_li {
	width: 140px;
	height: 33px;
	padding-left: 20px;
	line-height: 33px;
	font-size: 14px;
	color: #FFF;
	font-weight: 100;
	margin-top: 1px;
	margin-bottom: 1px;
}

.header_tuichu {
	width: 75px;
	height: 50px;
	float: right;
	color: #FFF;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	line-height: 50px;
	line-height: 50px;
	cursor: pointer;
}

.header_url {
	width: 150px;
	height: 50px;
	float: right;
	color: #FFF;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	line-height: 50px;
	line-height: 50px;
	cursor: pointer;
}

.header_url a {
	color: #FFF;
	text-decoration: none;
}

#zuoce {
	width: 175px;
	height: auto;
	overflow: hidden;
}

#zuo_main_lanmu {
	font-size: 16px;
	color: #FFF;
	font-weight: bold;
	line-height: 45px;
}

.zuo_main_icon {
	color: #FFF;
	font-size: 25px;
	float: right;
	margin-top: 10px;
	width: 50px;
	text-align: center;
	cursor: pointer;
}

.clear {
	clear: both;
}

.small_tubiao {
	color: #FFF;
	font-size: 19px;
	float: right;
	margin-top: 12px;
	width: 50px;
	text-align: center;
	cursor: pointer;
}

.small_div {
	width: 50px;
	height: 45px;
}

.small_div:hover {
	background: #00C1DE;
}

.small_nei_div {
	position: fixed;
	left: 50px;
	width: 150px;
	height: auto;
	display: none;
	background: #4A5064;
	border-top: #000 0px solid;
	border-right: #000 0px solid;
	border-bottom: #000 0px solid;
	border-bottom-right-radius: 1px;
	border-top-right-radius: 1px;
	opacity: 0.95;
	z-index: 100000
}

.small_a_div {
	width: auto;
	height: 45px;
	font-size: 14px;
}

.small_a_div:hover {
	background: #EAEDF1;
	background: #D5DBE3;
}

.small_a_div a {
	line-height: 45px;
	padding-left: 10px;
	text-decoration: none;
	color: #FFF;
	height: 45px;
	display: block;
}

.small_a_div a:hover {
	color: #000;
}

.small_head_div {
	padding-left: 10px;
	text-align: left;
	line-height: 45px;
	color: #FFF;
	background: #00CCEE;
	font-size: 14px;
	font-weight: bold;
}

.small_head_div:hover {
	background: #00CCEE;
}


.main_table {
	background: #E2E2E2;
	width: auto;
	width: 100%;
	font-size: 12px;
	line-height: 20px;
	border: #E2E2E2 1px solid;
	border-bottom: none;
	color: #666;
}

.main_table td {
	background: #FFF;
	padding-top: 9px;
	padding-bottom: 9px;
	padding-left: 15px;
	padding-right: 15px;
	border-bottom: #E2E2E2 1px solid;
}

.main_table td a {
	color: #09C;
	margin-right: 5px;
	text-decoration: none;
}

.main_table_header td {
	background: #F2F2F2;
	font-weight: bold;
}

.main_title {
	width: 500px;
	height: 30px;
	float: left;
	border-left: #88B7E0 4px solid;
	font-size: 25px;
	line-height: 30px;
	padding-left: 10px;
	margin-bottom: 10px;
}

.main_button {
	height: 25px;
	line-height: 25px;
	display: block;
	text-align: center;
	color: #FFF;
	background: #09C;
	border: #09C 2px solid;
	float: right;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 14px;
	text-decoration: none;
	cursor: pointer;
}

.main_button:hover {
	background: #28B5D6;
}

.clear_5px {
	clear: both;
	height: 5px;
}

.small_main_table {
	background: #E2E2E2;
	width: auto;
	width: 100%;
	font-size: 12px;
	line-height: 20px;
	border-bottom: none;
	color: #666;
}

.small_main_table td {
	background: #FFF;
	padding-top: 9px;
	padding-bottom: 9px;
	padding-left: 15px;
	padding-right: 15px;
	border-bottom: #E2E2E2 1px solid;
}

.small_main_table td a {
	color: #09C;
	margin-right: 5px;
	text-decoration: none;
}

.input_text {
	width: 300px;
	height: 26px;
	line-height: 26px;
	border: 1px;
	border-color: rgb(221, 221, 221);
	border-style: solid;
	border-radius: 3px;
	padding-left: 5px;
	padding-right: 5px;
}

.input_textarea {
	width: 300px;
	height: 90px;
	line-height: 30px;
	border: 1px;
	border-color: rgb(221, 221, 221);
	border-style: solid;
	border-radius: 3px;
	padding-left: 5px;
	padding-right: 5px;
}

.input_select {
	height: 30px;
	line-height: 30px;
	border: 1px;
	border-color: rgb(221, 221, 221);
	border-style: solid;
	border-radius: 3px;
	padding-left: 5px;
	padding-right: 5px;
}

.anniu {
	background-color: #09C;
	border-radius: 3px;
	border: none;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	cursor: pointer;
}

.span_padding {
	margin-top: 10px;
	margin-bottom: 15px;
}

.edit_anniu {
	width: 18px;
	height: 21px;
	padding-left: 8px;
	padding-top: 9px;
	background-color: rgb(0, 170, 238);
	display: block;
	color: #ffffff;
	float: left;
	margin-right: 10px;
	cursor: pointer;
	border-radius: 5px;
}

.del_anniu {
	width: 18px;
	height: 21px;
	padding-left: 8px;
	padding-top: 9px;
	background-color: rgb(238, 51, 51);
	display: block;
	color: #ffffff;
	float: left;
	margin-right: 10px;
	cursor: pointer;
	border-radius: 5px;
	margin-left: 5px;
	margin-right: 20px;
}

.page {
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: right;
	font-size: 12px;
}

.page span {
	padding-left: 5px;
	padding-right: 0px;
	margin-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: 666
}

.page a {
	padding-left: 5px;
	padding-right: 0px;
	margin-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-decoration: underline;
	color: #666
}

.page a:hover {
	color: #000;
}

.video_box{width: 144px; height: 144px; padding: 10px; float: left;}

.video_pic {
	width: 140px;
	height: 140px;
	border: #FFFFFF 4px solid;
	cursor: pointer;
	position: relative;
}

.video_del{
	width: 30px;
	height: 25px;
	position: absolute;
	margin-left: 110px;
	font-size: 20px;
	background-color: red;
	color: white;
	z-index: 10000;
	text-align: center;
	line-height: 30px;
	font-weight: bold;
	padding-top: 5px;
	opacity: 0.7;
	display: none;
}

.video_pic_active {
	border: #0099CC 4px solid;
}

.video_pic img {
	width: 140px;
	height: 140px;
}

.video_word {
	width: 140px;
	height: 30px;
	position: absolute;
	margin-top: -30px;
	background-color: #000000;
	opacity: 0.7;
	text-align: center;
	color: #FFFFFF;
	font-size: 14px;
	line-height: 30px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.upload_bar{
	width: 500px; float: right; border-radius: 5px; clear: both; display:none;
}

.upload_jindutiao{
	background-color: cadetblue; height: 15px; width: 0px;
}

.ui-c-element{ float:left}
.ui-c-note{ height:30px; line-height:30px; font-size:12px; float:left; padding-left:10px;}
.ui-c-remark{ width:auto; font-size:14px; color:red; padding-top:10px; padding-bottom:5px;}
.ui-c-tips{margin-left:10px; color:red; font-size:1rem}
.ui-c-tips-text{display:none;}